<%= content_for(:title, t('.title')) %>

<h2><%= t('.heading') %></h2>

<table>
  <% @basket.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %> &times;</td>

      <td><%= item.product.title %></td>

      <td class="item-price"><%= humanized_money_with_symbol(item.total_price, no_cents_if_whole: false) %></td>
    </tr>
  <% end %>

  <tr class="total-line">
    <td colspan="2">Total</td>

    <td class="total-cell"><%= humanized_money_with_symbol(@basket.total_price, no_cents_if_whole: false) %></td>
  </tr>
</table>

<%= button_to(t('.checkout'), new_order_path, method: :get) %>

<%= button_to(
  t('.empty_basket'),
  @basket,
  method: :delete,
  data: { confirm: t('.confirm') }
) %>
