<tr>
  <td><%= event.name %></td>
  <td><%= event.takes_place_on %></td>
  <td><%= event.location %></td>
  <td><%= link_to 'Show', event %></td>
  <td><%= link_to 'Edit', edit_event_path(event) %></td>
  <td><%= link_to(
    'Destroy',
    event,
    data: {confirm: 'Are you sure?'},
    method: :delete
  ) %></td>
</tr>