<%= form_for @event do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :name, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :takes_place_on, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field(
        :takes_place_on,
        class: 'text_field',
        data: {'date-format' => 'dd/mm/yyyy'}
      ) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :location, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :location, class: 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', events_path, class: 'btn' %>
  </div>
<% end %>