<h1>Listing events</h1>
<% if !@events.blank? %>
<%= will_paginate %>
<h2><%= @events.count %></h2>
<table>
  <tr>
    <th>Name</th>
    <th>Takes place on</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @events %>
</table>
<%= will_paginate %>
<% end %>

<%= link_to 'New Event', new_event_path %>