<%= form_for(@order, html: { id: 'payment-form' }) do |f| %>
  <span class="payment-errors"></span>

  <%= render('shared/error_messages', object: f.object) %>

  <div class="control-group">
    <%= f.label(:name, class: 'control-label') %>

    <div class="controls">
      <%= f.text_field(:name, class: 'text-field', data: { stripe: 'name' }) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:address_line_1, class: 'control-label') %>

    <div class="controls">
      <%= f.text_field(:address_line_1, class: 'text-field', data: { stripe: 'address-line1' }) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:address_line_2, class: 'control-label') %>

    <div class="controls">
      <%= f.text_field(:address_line_2, class: 'text-field', data: { stripe: 'address-line2' }) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:address_city, class: 'control-label') %>

    <div class="controls">
      <%= f.text_field(:address_city, class: 'text-field', data: { stripe: 'address-city' }) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:address_post_code, class: 'control-label') %>

    <div class="controls">
      <%= f.text_field(:address_post_code, class: 'text-field', data: { stripe: 'address-zip' }) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:address_county, class: 'control-label') %>

    <div class="controls">
      <%= f.text_field(:address_county, class: 'text-field', data: { stripe: 'address-state' }) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:email, class: 'control-label') %>

    <div class="controls">
      <%= f.email_field(:email, class: 'email-field') %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag(nil, t('.card_number'), class: 'control-label') %>

    <div class="controls">
      <%= text_field_tag(nil, nil, class: 'text-field', data: { stripe: 'number' }, size: 20) %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag(nil, t('.cvc'), class: 'control-label') %>

    <div class="controls">
      <%= text_field_tag(nil, nil, class: 'span1 text-field', data: { stripe: 'cvc' }, size: 4) %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag(nil, t('.expiration'), class: 'control-label') %>

    <div class="controls">
      <%= text_field_tag(nil, nil, class: 'span1 text-field', data: { stripe: 'exp-month' }, size: 2) %>
      /
      <%= text_field_tag(nil, nil, class: 'span1 text-field', data: { stripe: 'exp-year' }, size: 4) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button(nil, 'class' => 'btn btn-primary') %>
  </div>
<% end %>
