<%= form_for(@order, html: { class: 'payment-form', id: 'payment-form' }) do |f| %>
  <span class="payment-errors"></span>

  <%= render('shared/error_messages', object: f.object) %>

  <div class="contact-information">
    <h3><%= t(".customer_information") %></h3>

    <div class="fieldset">
      <div class="field">
        <%= f.label(:email) %>
        <%= f.email_field(
          :email,
          data: { required: true },
          placeholder: t(".email")
        ) %>
      </div>
    </div>

    <h5><%= t(".delivery_address") %></h5>

    <div class="fieldset">
      <div class="field">
        <%= f.label(:name) %>
        <%= f.text_field(
          :name,
          data: { required: true, stripe: 'name' },
          placeholder: t(".name")
        ) %>
      </div>

      <div class="field">
        <%= f.label(:address_line_1) %>
        <%= f.text_field(
          :address_line_1,
          data: { required: true, stripe: 'address-line1' },
          placeholder: t(".address_line_1")
        ) %>
      </div>

      <div class="field">
        <%= f.label(:address_line_2) %>
        <%= f.text_field(
          :address_line_2,
          data: { stripe: 'address-line2' },
          placeholder: t(".address_line_2")
        ) %>
      </div>

      <div class="field">
        <%= f.label(:address_city) %>
        <%= f.text_field(
          :address_city,
          data: { required: true, stripe: 'address-city' },
          placeholder: t(".address_city")
        ) %>
      </div>

      <div class="field">
        <%= f.label(:address_post_code) %>
        <%= f.text_field(
          :address_post_code,
          data: { required: true, stripe: 'address-zip' },
          placeholder: t(".address_post_code")
        ) %>
      </div>

      <div class="field">
        <%= f.label(:address_county) %>
        <%= f.text_field(
          :address_county,
          data: { stripe: 'address-state' },
          placeholder: t(".address_county")
        ) %>
      </div>
    </div>
  </div>

  <h3><%= t(".payment") %></h3>

  <div class="fieldset">
    <div class="field">
      <%= label_tag(nil, t(".card_number")) %>
      <%= text_field_tag(
        nil,
        nil,
        class: "card-number",
        data: { stripe: "number" },
        placeholder: t(".card_number")
      ) %>
    </div>

    <div class="field">
      <%= label_tag(nil, t(".cvc")) %>
      <%= text_field_tag(
        nil,
        nil,
        class: "card-cvc",
        data: { stripe: "cvc" },
        placeholder: t(".cvc")
      ) %>
    </div>

    <div class="field">
      <%= label_tag(nil, t(".expiration")) %>

      <div class="select-group">
        <%= text_field_tag(
          nil,
          nil,
          class: "card-expiry-month",
          data: { stripe: "exp-month" },
          placeholder: t(".exp_month")
        ) %>
        <%= text_field_tag(
          nil,
          nil,
          class: "card-expiry-year",
          data: { stripe: "exp-year" },
          placeholder: t(".exp_year")
        ) %>
      </div>
    </div>
  </div>

  <%= f.button(t(".create")) %>
<% end %>
