<%= form_for(@order) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <ol>
    <li><%= f.label :name %> <%= f.text_field :name %></li>

    <li><%= f.label :address %> <%= f.text_area :address, rows: 3 %></li>

    <li><%= f.label :email %> <%= f.email_field :email %></li>

    <li><%= f.submit 'Place Order' %></li>
  </ol>
<% end %>
