<div class="span-8 topic">
  <h3>Farmers' Markets</h3>
  <p>
    We regularly attend local famers' markets / food events.
    <ul class="market-list">
      <li>Treacle market, Macclesfield</li>
      <li>Barclays Bank Farmers' Market (staff only), Knutsford</li>
      <li>Congleton Food Fair</li>
    </ul>
    Please see the <a href="index.html">events / news section</a> for the latest information on upcoming events or follow us on <a href="http://twitter.com/r_of_somerford">Twitter</a> or <a href="http://www.facebook.com/pages/Radfords-of-Somerford/170415869654554?ref=ts&v=wall">Facebook </a>.
  </p>
</div>
  <div class="span-8 last topic">
  <h3>Buy Direct</h3>
  <p>
    You are welcome to order products directly from us.  Please email for further details.
  </p>
</div>
<div class="wide-topic">
  <h3>Delicatessens / Farm Shops</h3>
  <% unless @suppliers.blank? %>
    <div class="suppliers">
      <% @suppliers.each do |supplier| %>
        <div class="supplier">
          <h4><%= supplier.name %></h4>
          <%= raw(supplier.address.gsub("\n", '<br />')) %>
          <p><a href="http://maps.google.com/?q=<%= URI.escape(supplier.address) %>">View map</a></p>
          <% if supplier.website %>
            <p><%= supplier.website %></p>
          <% end %>
          <p class="telephone"><%= supplier.telephone_number %></p>
          <% if signed_in? %>
            <p><a href="<%= edit_supplier_path(supplier) %>">Edit</a></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if signed_in? %>
    <p><a href="<%= new_supplier_path %>">New supplier</a></p>
  <% end %>
</div>
