<% content_for(:body_class, 'with-js-products') %>

<%= form_for(@product) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.hidden_field :id %>
  </div>

  <ol>
    <li><%= f.label :title %> <%= f.text_field :title %></li>

    <li><%= f.label :description %> <%= f.text_area :description, cols: nil, rows: 3 %></li>

    <li><%= f.label :image_url %> <%= f.text_field :image_url %></li>

    <li><%= f.label :price %> <%= f.text_field :price %></li>

    <li class="form-actions"><ul>
      <li><%= link_to('Cancel', products_path, class: 'btn')%></li>

      <li><%= f.submit nil, class: 'btn btn-primary' %></li>
    </ul></li>
  </ol>
<% end %>
