<%= content_tag('li', class: (product_counter + 1) % 3 == 0 ? 'last' : nil) do %>
  <h3>
    <%= link_to(product.title, product_path(product)) %>
  </h3>

  <p><%= link_to(image_tag(product.image_url), product_path(product)) %></p>

  <p><%= product.description %></p>

  <p><%= number_to_currency(product.price, unit: '£') %></p>

  <% if signed_in? %>
    <div class="actions">
      <ul>
        <li><%= link_to 'Edit', edit_product_path(product), class: 'btn' %></li>

        <li><%= button_to 'Delete', product, method: :delete, class: 'btn btn-danger' %></li>
      </ul>
    </div>
  <% end %>
<% end %>
