<tr>
  <td><%= link_to(product.title, product) %></td>

  <td><%= product.description %></td>

  <td><%= image_tag(product.photo.url, class: 'product-thumbnail') %></td>

  <td><%= link_to('Edit', edit_product_path(product), class: 'btn btn-mini') %>
  <%= link_to(
    'Delete',
    [:delete, product],
    class: 'btn btn-mini btn-danger'
  ) %></td>
</tr>
