<% unless @products.blank? %>
  <ul>
    <% @products.each do |product| %><li>
      <h3>
        <%= product.title %>
      </h3>

      <p><%= product.description %></p>

      <p><%= image_tag(product.image_url) %></p>

      <p><%= product.price %></p>

      <% if signed_in? %>
        <p><ul>
          <li><%= link_to 'Show', product_path(product) %></li>

          <li><%= link_to 'Edit', edit_product_path(product) %></li>

          <li><%= button_to 'Delete', product, method: :delete %></li>
        </ul></p>
      <% end %>
    </li><% end %>
  </ul>
<% end %>

<% if signed_in? %>
  <p><%= link_to 'New Product', new_product_path %></p>
<% end %>
