<% content_for(:title, @product.title) %>

<section class="product">
  <header>
    <h1 class="product-title"><%= @product.title %></h1>
  </header>

  <%= image_tag(@product.photo.url(:show), class: 'product-photo') %>

  <p class="product-description"><%= @product.description %></p>

  <%= product_button(@product) %>

  <% if signed_in? %>
    <div class="form-actions">
      <%= link_to('Back', products_path, class: 'btn') %>
      <%= link_to('Edit', edit_product_path(@product), class: 'btn') %>
      <%= link_to(
        'Delete',
        [:delete, @product],
        class: 'btn btn-danger'
      ) %>
    </div>
  <% end %>
</section>
