<% content_for(:body_class, 'with-js-geocode') %>

<%= render '/shared/error_messages', :object => f.object %>
<div>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
</div>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :address %>
  <div class="address">
    <%= f.text_area :address %>
    <input id="find" type="button" value="Find" />
  </div>
  <div id="map_canvas"></div>
</div>
<div class="field">
  <%= f.label :website %>
  <%= f.text_field :website %>
</div>
<div class="field">
  <%= f.label :telephone_number %>
  <%= f.text_field :telephone_number %>
</div>
