<%= form_for @supplier do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.hidden_field :latitude %><%= f.hidden_field :longitude %>
  </div>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :name, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :address, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :website, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :website, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :telephone_number, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :telephone_number, class: 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', suppliers_path, class: 'btn' %>
  </div>
<% end %>