<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="description" content="Buy homemade jams and preserves online with Radfords of Somerford. Fantastic homemade jams and preserves made with local produce in the heart of Cheshire." />
  <%= render 'layouts/stylesheets' %>
</head>

<%= content_tag(:body, class: [content_for(:body_class), controller.controller_name], id: "#{controller_name}_#{action_name}") do %>
  <div class="container">
    <%= navbar %>

    <%= render 'layouts/header' %>
    <div class="main">
      <% flash.each do | key, value | %>
        <% alert_type = flash_message_class(key) %>

        <%= content_tag(:div, class: ['alert', "alert-#{alert_type}"]) do %>
          <strong><%= t("#{alert_type}_text") %>!</strong> <%= value %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>

  <%= javascript_include_tag(
    'application',
    'http://maps.googleapis.com/maps/api/js?sensor=false'
  ) %>

  <% if Rails.env.production? %>
    <script>
      var _gaq=[['_setAccount','UA-36166511-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>
<% end %>
</html>
