<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="description" content="Buy homemade jams and preserves online with Radfords of Somerford. Fantastic homemade jams and preserves made with local produce in the heart of Cheshire." />
  <meta name="language" content="en" />
  <%= render 'layouts/stylesheets' %>
</head>

<body class="with-js-events with-js-geocode">
  <div class="container">
    <%= render 'layouts/header' %>
    <div class="main">
      <% flash.each do | key, value | %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag "jquery-1.7.min.js", 'jquery-ui-1.8.16.custom.min.js', 'http://maps.googleapis.com/maps/api/js?sensor=false', 'application', 'events', 'script' %>
</body>
</html>
