<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="description" content="Buy homemade jams and preserves online with Radfords of Somerford. Fantastic homemade jams and preserves made with local produce in the heart of Cheshire." />
  <%= render 'layouts/stylesheets' %>
</head>

<%= content_tag(:body, class: [content_for(:body_class), controller.controller_name], id: "#{controller_name}_#{action_name}") do %>
  <div class="container">
    <%= navbar %>

    <%= render 'layouts/header' %>
    <div class="main">
      <%= render 'flashes' %>

      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>

  <%= render 'javascript' %>
<% end %>
</html>
